/* @keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
} */

/* Menu lateral escondido por padrão */
/* .menu-lateral {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    animation: slideIn 0.5s forwards;
} */

/* .menu-lateral a {
    color: #fff;
    font-size: 24px;
    margin: 20px 0;
} */

/* Botão do menu lateral */
/* .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
} */



@media (max-width: 500px) {

    body {
        overflow-x: hidden;
    }

    .fixed-social {
        display: none;
    }

    .menu {
        display: none;
    }

    .mobile-menu-icon {
        width: 100%;
        height: 60px;
        font-size: 25px;
        display: flex;
        justify-content: end;
        padding-right: 30px;
        padding-top: 20px;
        position: fixed;
        z-index: 110;
    }

    .mobile-menu-icon i {
        cursor: pointer;
        color: #fff;
    }

    .mobile-menu-icon i:hover {
        color: #0568c5;
        transition: color 0.3s ease-in-out
    }

    .menu-mobile {
        color: #fff;
        position: fixed;
        z-index: 110;
    }

    .header {
        display: flex;
        width: 0 auto;
    }

    .header .logo {
        font-size: 25px;
        margin-left: 0.8rem;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        text-align: center;
    }

    .section .texto-sobre p {
        text-align: center;
    }

    /*Parralax*/

    .parallax-section {
        position: relative;
        width: 100%;
        height: 70vh;
        overflow-x: scroll;
        /* white-space: nowrap; */
        scroll-snap-type: x mandatory;
    }

    .info-boxes {
        display: flex;
        height: 100%;
        /* white-space: nowrap; */
        position: relative;
    }

    .info-box {
        min-width: 300px;
        margin: 0 10px;
        padding: 20px;
        border-radius: 10px;
        scroll-snap-align: center;
        flex-shrink: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .info-boxes .info-box h3 {
        display: flex;
        flex-wrap: wrap;
        font-size: 26px;
        padding-bottom: 15px;
    }

    .info-boxes .info-box p {
        display: flex;
        font-size: 20px;
    }

    .onda {
        position: absolute;
        width: 100%;
        height: 100px;
        background: url('path/to/wave.png') repeat-x;
        bottom: 0;
        left: 0;
    }

    #onda1 {
        animation: wave 10s linear infinite;
    }

    #onda2 {
        animation: wave 8s linear infinite;
        opacity: 0.7;
    }

    #onda3 {
        animation: wave 12s linear infinite;
        opacity: 0.5;
    }

    #onda4 {
        animation: wave 14s linear infinite;
        opacity: 0.3;
    }

    @keyframes wave {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .info-box {
        min-width: 50%;
        margin: 0 auto;
    }



    /*Projetos*/
    .portifolio .flex {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .project-container {
        width: 100%;
        scroll-snap-align: start;
        margin-right: 10px;
    }

    .portifolio {
        height: auto;
        padding: 20px;
    }

    .titulo-port {
        font-size: 28px;
    }

    .project-container .img-port {
        width: 100%;
        height: 300px;
        border-radius: 41px;
    }

    .overlay {
        font-size: 18px;
    }

    .links a {
        margin-bottom: 10px;
    }

    /*Footer*/

    .line-footer {
        margin-top: 18px;
    }


    /*footer final*/

    .rodape {
        display: flex;
        width: auto;
    }

    .logo-footer {
        width: 150px;
        display: flex;
        font-size: 11px;
    }

    .btn-social {
        display: flex;
    }

    .line-baixo {
        display: flex;
    }

    .line-baixo {
        width: 100%;
        margin-top: 10px;
        margin: 0;
    }

    .download {
        display: none;
    }


    .main {
        height: auto;
    }


    .menu a {
        font-size: 14px;
    }

    .name h1 {
        font-size: 54px;
    }

    .name h3 {
        font-size: 20px;
    }

    .social a {
        font-size: 18px;
        margin: 0 5px;
    }

    .texto-sobre {
        font-size: 12px;
    }

    .titulo-port {
        font-size: 24px;
    }

    .icon-wrapper i {
        font-size: 36px;
    }

    .links a {
        font-size: 12px;
    }

}